body {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 40%;
}

@media (min-width: 600px) {
  .component-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .component-container {
    flex-direction: column;
    text-align: center;
  }
}

p {
  color: aliceblue;
}

.glow-on-hover {
  transition: box-shadow 0.2s ease-in-out; /* Add smooth transition */
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px 5px rgba(247, 247, 248, 0.3); /* Apply the glow effect */
}

.glow-text-on-hover {
  transition: text-shadow 0.1s ease-in-out; /* Add smooth transition */
}

.glow-text-on-hover:hover {
  text-shadow: 0 0 5px #ffffff;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
}
